body{
	margin: 0;
	padding: 0;
		
}
.section1 {
	background-image: url("../images/beach.jpg");
	background-size: 1920px 1080px;
	height: 100vh;
	position: relative;
}
header {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 70px;
	background-color: rgba(0,0,0);
	margin-top: 10px;
	position: absolute;
	right: 0px;
	left: 0px;

}
.logo{
	position: absolute;
	top: -5px;
	left: 100px;
	width: 50px;
	height: auto;
	
}
ul.header {
	display: flex;
	
	list-style-type: none;
	position: absolute;
	right: 120px;
	top: 20px;
}
	
ul.header li{
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}

.main {
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	width: 850px;
	font-size: 40px;
	letter-spacing: 3px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	color:	white;
}
/*.main h1{
		position: absolute;
		left: 50%;
		top: 50%;
}
.main p{
		position: absolute;
		left: 100px;
		top: 100px;
}*/

.section2{
		display: flex;
		justify-content: space-around;
		margin-top: 0px;
		position: relative;
	
}
.box1{
		width:33.33%;
		height: 380px;
		
		margin-top: 60px;
		padding: 20px 25px;
		font-family: sans-serif;
		
		margin-left: 5px;
		margin-bottom: 100px;
}
.box1 img{
	width: 250px;
	height: auto;
	margin-bottom: 0px;
	position: absolute;
	top: 110px;
	left: 120px;
}

.box1 h1 {
		position: absolute;
		top: 240px;
		left: 170px;
		font-size: 32px;
}
.para1 {
	margin-top: 230px;
	margin-left:70px;
	font-size: 15px;
	width: 230px;
}
.para2 {
	margin-top: 230px;
	margin-left:120px;
	font-size: 15px;
	width: 230px;
}
.para3 {
	margin-top: 230px;
	margin-left:145px;
	font-size: 15px;
	width: 230px;
}

.box2{
		width:33.33%;
		height: 380px;
		margin-top: 60px;
		padding: 20px 25px;
		font-family: sans-serif;
		
		margin-left: -170px;
		margin-bottom: 100px;
		
}
.box2 img{
	width: 250px;
	height: auto;
	margin-bottom: 0px;
	position: absolute;
	top: 110px;
	left: 540px;	
}
.box2 h1 {
		position: absolute;
		top: 240px;
		left: 560px;
		font-size: 32px;
}
.box3{
		width:33.33%;
		height: 380px;
		margin-top: 60px;
		padding: 20px 25px;
		font-family: sans-serif;
		
		margin-left: -170px;
		margin-bottom: 100px;
		
}
.box3 img{
	width: 250px;
	height: auto;
	margin-bottom: 0px;
	position: absolute;
	top: 110px;
	left: 930px;	
}

.box3 h1 {
		position: absolute;
		top: 240px;
		left: 970px;	
		font-size: 32px;
}
.section3{
	display: flex;
	font-family: sans-serif;
	position: relative;
	height: 100vh;
	
	
}

.left3{
	position: absolute;
	left: 70px;
	top: 130px;
	width: 400px;
	height: auto;
}

.right3 img{
	position: absolute;
	left: 680px;
	top: 50px;
	width: 510px;
	
}

.left3 h1{
	font-size: 32px;
}
.sub-heading{
	color: #121d77;
	font-size: 25px;
	line-height: 1.1;
}

.para4{
	line-height: 1.6;
	font-weight: bold;
	font-size: 20px;
	width: 600px;
	letter-spacing: 0.6px;
}
.section4{
	width: 100%;
	height:500px;
	background-color: #89CFF0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=text]:focus {
	border: 1px solid #00FFFF;
}


